[submodule ".registry"]
	path = .registry
	url = https://github.com/vgherard/universe
	branch = HEAD
[submodule "fcci"]
	path = fcci
	url = https://github.com/vgherard/fcci
	branch = v1.0.1
[submodule "gsample"]
	path = gsample
	url = https://github.com/vgherard/gsample
[submodule "kgrams"]
	path = kgrams
	url = https://github.com/vgherard/kgrams
[submodule "r2r"]
	path = r2r
	url = https://github.com/vgherard/r2r
	branch = v0.1.1
[submodule "runi"]
	path = runi
	url = https://github.com/vgherard/runi
[submodule "sbo"]
	path = sbo
	url = https://github.com/vgherard/sbo
	branch = v0.5.0
[submodule "scribblr"]
	path = scribblr
	url = https://github.com/vgherard/scribblr
