[submodule ".registry"]
	path = .registry
	url = https://github.com/vgherard/vgherard.r-universe.dev
	branch = HEAD
[submodule "fcci"]
	path = fcci
	url = https://github.com/vgherard/fcci
	branch = v1.0.1
[submodule "kgrams"]
	path = kgrams
	url = https://github.com/vgherard/kgrams
	branch = v0.2.1
[submodule "r2r"]
	path = r2r
	url = https://github.com/vgherard/r2r
	branch = v0.1.2
[submodule "sbo"]
	path = sbo
	url = https://github.com/vgherard/sbo
	branch = v0.5.0
[submodule "scribblr"]
	path = scribblr
	url = https://github.com/vgherard/scribblr
